Domain/bin/Debug/netstandard2.0/Domain.deps.json
Domain/bin/Debug/netstandard2.0/Domain.dll
Domain/bin/Debug/netstandard2.0/Domain.pdb
Domain/bin/Debug/netstandard2.1/Domain.deps.json
Domain/bin/Debug/netstandard2.1/Domain.dll
Domain/bin/Debug/netstandard2.1/Domain.pdb
Domain/obj/Domain.csproj.EntityFrameworkCore.targets
Domain/obj/Domain.csproj.nuget.dgspec.json
Domain/obj/Domain.csproj.nuget.g.props
Domain/obj/Domain.csproj.nuget.g.targets
Domain/obj/project.assets.json
Domain/obj/project.nuget.cache
Domain/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
Domain/obj/Debug/netstandard2.0/Domain.AssemblyInfo.cs
Domain/obj/Debug/netstandard2.0/Domain.AssemblyInfoInputs.cache
Domain/obj/Debug/netstandard2.0/Domain.assets.cache
Domain/obj/Debug/netstandard2.0/Domain.csproj.CoreCompileInputs.cache
Domain/obj/Debug/netstandard2.0/Domain.csproj.FileListAbsolute.txt
Domain/obj/Debug/netstandard2.0/Domain.csprojAssemblyReference.cache
Domain/obj/Debug/netstandard2.0/Domain.dll
Domain/obj/Debug/netstandard2.0/Domain.pdb
Domain/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
Domain/obj/Debug/netstandard2.1/Domain.AssemblyInfo.cs
Domain/obj/Debug/netstandard2.1/Domain.AssemblyInfoInputs.cache
Domain/obj/Debug/netstandard2.1/Domain.assets.cache
Domain/obj/Debug/netstandard2.1/Domain.csproj.CoreCompileInputs.cache
Domain/obj/Debug/netstandard2.1/Domain.csproj.FileListAbsolute.txt
Domain/obj/Debug/netstandard2.1/Domain.csprojAssemblyReference.cache
Domain/obj/Debug/netstandard2.1/Domain.dll
Domain/obj/Debug/netstandard2.1/Domain.pdb
